# 5. Concatenate outputs and submit

In [13]:
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt

In [4]:
shops = [3, 4, 5, 6, 7, 10, 12, 14, 15, 16, 18, 19, 21, 22, 24, 25, 26, 28, 31, 34, 35, 36, 37, 38, 39, 41, 42, 44, 45, 46, 47, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59]

In [16]:
df = pd.read_csv('./data/output/shop_2.csv')

In [20]:
df['shop_id'] = df['shop_id'].astype(np.int16)
df['item_id'] = df['item_id'].astype(np.int16)

In [21]:
df.dtypes

shop_id      int16
item_id      int16
0          float64
dtype: object

## Concatenating all predictions

In [22]:
count = 0
for shop in shops:
    one_shop = pd.read_csv('./data/output/shop_' + str(shop) + '.csv')
    one_shop['shop_id'] = one_shop['shop_id'].astype(np.int16)
    one_shop['item_id'] = one_shop['item_id'].astype(np.int16)
    df = pd.concat([df, one_shop])
    count += 1
    print(f'{count} out of {len(shops)}')

1 out of 42
2 out of 42
3 out of 42
4 out of 42
5 out of 42
6 out of 42
7 out of 42
8 out of 42
9 out of 42
10 out of 42
11 out of 42
12 out of 42
13 out of 42
14 out of 42
15 out of 42
16 out of 42
17 out of 42
18 out of 42
19 out of 42
20 out of 42
21 out of 42
22 out of 42
23 out of 42
24 out of 42
25 out of 42
26 out of 42
27 out of 42
28 out of 42
29 out of 42
30 out of 42
31 out of 42
32 out of 42
33 out of 42
34 out of 42
35 out of 42
36 out of 42
37 out of 42
38 out of 42
39 out of 42
40 out of 42
41 out of 42
42 out of 42

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 219300 entries, 0 to 5099
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   shop_id  219300 non-null  int16
 1   item_id  219300 non-null  int16
 2   0        219300 non-null  float64
dtypes: float64(1), int16(2)
memory usage: 4.2 MB

## Modify after concatenation test.csv

In [39]:
test = pd.read_csv('./data/test.csv')

In [40]:
test = test.merge(df, on = ['shop_id', 'item_id'], how = 'left')
test.drop(columns = ['shop_id', 'item_id'], inplace = True)
test.columns = ['ID', 'item_cnt_month']
test.round(4)

# I know that most items should be 0 so I would like to change the mode to 0 which is what I'm doing below:
test['item_cnt_month'] = test['item_cnt_month'].replace(0.0844, 0)
test['item_cnt_month'] = test['item_cnt_month'].replace(0.0845, 0)

# had to drop duplicates
test_exp.drop_duplicates(inplace=True)

# save submission
test_exp.to_csv('./data/submission.csv', index = False)